body{
    background-color:#30B4A6;
    font-family:"helvetica";
}

#contenido{
    width: 960px;
    margin:0 auto;
    text-align: center;
}
h1{
    color:#22F19C;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    color:#1d1d1d;
    cursor:pointer;
}
#textoPr{
    width:600px;
    height:300px;
    background-color: #148A5A;
    color:#FFF;
    margin:0 auto;
    text-align: left;
    border-radius:20px;
    padding:20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}
a{
    color:#e44e2d;
    font-weight: bold;
}

